page-horizontal-scroll-page {
  .inner {
    width: 100%;
    height: 100%;

    ion-card {
      display: table-cell;
      border: solid 1px #ccc;
    }
  }

  .outer {
    width: 100%;
    height: 100%;

    ion-card {
      display: grid;
      border: solid 1px #ccc;
    }
  }

  .brand_block {
    height: 100%;
    display: grid;
   }
}
